/*MAIN-COLOR #F2D00D*/

body{
  background: #F2D00D;
  font-family: 'Andada', serif;
}
.container-fluid{
  padding: 0;
}
.header-block{
  background: #F2D00D;
}
.logo{
  font-size: 500%;
  font-weight: bold;
  color: #240f09;
  padding: 10px 0 10px 10%;
  font-family: 'Audiowide', cursive;
  text-align: center;
  position: relative;
  left: -64px;
  cursor: pointer;
}

.logo img{
  width: 128px;
  position: relative;
  top: -10px;
}

.nav-bar-block{
  width: 100%;
  margin: auto;
  border-top: 3px solid black;
  border-bottom: 6px solid black;
  background: #353438;
  box-shadow: 0px 5px 6px 3px rgba(0,0,0,1);
  margin-bottom: 20px;
}
.nav-bar-block ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav-bar-block ul li{
  display: inline-block;
  padding: 10px 5px;
  width: 20%;
  text-align: center;
  transition: .4s;
  font-size: 125%;
}

.nav-bar-block ul li:hover{
  background: #292929;

}

.nav-bar-block ul li a{
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  transition: .3s;
  text-transform: uppercase;
}

.active{
  background: #292929;
}

.nav-bar-block ul li a:hover{
  color: #F2D00D;
  text-decoration: none;
  transition: .3s;
}

.slider-block{
  margin-top: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 10px;

  background: #F2D00D;
}
.slider-block div{
  border-radius: 10px;
    box-shadow: -2px 0px 15px 2px rgba(0,0,0,0.6);
}

.content-block{
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px 60px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
  font-size: 150%;
  line-height: 2;
}

.logo-block{
  text-align: center;
}

.logo-image{
  width: 12%;
  margin: 0 2%;
  /*border: 1px dashed red;*/
}

#map{
  height: 300px;
  width: 80%;
  background-color: white;
  margin: auto;

  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
  margin-bottom: 20px;
}

footer{
  text-align: right;
  font-size: 60%;
}
